<!DOCTYPE html>
<html>
<head>
    <title>Uber vs Lyft</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-6">
                <h1 class="text-center">Uber and Lyft price prediction</h1>

                {% if prediction %}
                    <br>
                    <h3 class="text-center">Price is ${{prediction}}</h3>
                {% endif %}
            </div>
        </div>

        <form class="ps-3" action="/" method="post">
            <div class="row">
                <div class="col-6">
                    <!-- 'hour' numbering -->
                    <label for="hour">Hour: (0 - 23)</label>
                    <input type="number" id="hour" name="hour" min="0" max="23" required><br><br>

                    <!-- Dropdown for 'source' -->
                    <label for="source">Source:</label>
                    <select name="source" id="source">
                        <option value="0">Back Bay</option>
                        <option value="1">Beacon Hill </option>
                        <option value="2">Boston University</option>
                        <option value="3">Fenway</option>
                        <option value="4">Financial District</option>
                        <option value="5">Haymarket Square</option>
                        <option value="6">North End</option>
                        <option value="7">North Station</option>
                        <option value="8">Northeastern University</option>
                        <option value="9">South Station</option>
                        <option value="10">Theatre District</option>
                        <option value="11">West End</option>
                    </select><br><br>

                    <!-- Dropdown for 'destination' -->
                    <label for="destination">Destination:</label>
                    <select name="destination" id="destination">
                        <option value="0">Back Bay</option>
                        <option value="1">Beacon Hill </option>
                        <option value="2">Boston University</option>
                        <option value="3">Fenway</option>
                        <option value="4">Financial District</option>
                        <option value="5">Haymarket Square</option>
                        <option value="6">North End</option>
                        <option value="7">North Station</option>
                        <option value="8">Northeastern University</option>
                        <option value="9">South Station</option>
                        <option value="10">Theatre District</option>
                        <option value="11">West End</option>
                    </select><br><br>

                    <!-- Dropdown for 'cab_type' -->
                    <label for="cab_type">Cab Type:</label>
                    <select name="cab_type" id="cab_type">
                        <option value="0">Lyft</option>
                        <option value="1">Uber</option>
                    </select><br><br>

                    <!-- Dropdown for 'name' -->
                    <label for="name">Name:</label>
                    <select name="name" id="name">
                        <option value="0">Black</option>
                        <option value="1">Black SUV</option>
                        <option value="2">Lux</option>
                        <option value="3">Lux Black</option>
                        <option value="4">Lux Black XL</option>
                        <option value="5">Lyft</option>
                        <option value="6">Lyft XL</option>
                        <option value="7">Shared</option>
                        <option value="8">UberPool</option>
                        <option value="9">UberX</option>
                        <option value="10">UberXL</option>
                        <option value="11">WAV</option>
                    </select><br><br>

                    <!-- Input for 'distance' -->
                    <label for="distance">Distance: (2 angka dibelakang koma (0.02))</label>
                    <input type="text" name="distance" id="distance"><br><br>

                    <!-- Input for 'temperature' -->
                    <label for="temperature">Temperature: (2 angka dibelakang koma (18.92))</label>
                    <input type="text" name="temperature" id="temperature"><br><br>

                    <!-- Dropdown for 'short_summary' -->
                    <label for="short_summary">Short Summary:</label>
                    <select name="short_summary" id="short_summary">
                        <option value="0">Clear</option>
                        <option value="1">Drizzle</option>
                        <option value="2">Foggy</option>
                        <option value="3">Light Rain</option>
                        <option value="4">Mostly Cloudy</option>
                        <option value="5">Overcast</option>
                        <option value="6">Partly Cloudy</option>
                        <option value="7">Possible Drizzle</option>
                        <option value="8">Rain</option>
                    </select><br><br>
                </div>
            </div>
            
            <!-- Submit button -->
            <input type="submit" value="Predict Price">
        </form>
        
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>